# Titanic survival chances

The dataset is downloaded from https://www.kaggle.com/competitions/titanic/overview challenge. The aim of the challenge is to show how socio-economic factors affected people's chances on survival.

In [15]:
training.data.raw = read.csv('titanic/train.csv',header=T,na.strings=c(""))

In [3]:
head(training.data.raw)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
6 6           0        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
6 Moran, Mr. James                                    male   NA  0     0
  Ticket           Fare    Cabin Embarked
1 A/5 21171         7.2500 NA    S
2 PC 17599         71.2833 C85   C
3 STON/O2. 3101282  7.9250 NA    S
4 113803           53.1000 C123  S
5 373450            8.0500 NA    S
6 330877            8.4583 NA    Q

In the dataset some data are not adding any value, such as passenger ID, ticket number and cabin (since it is mostly unavailable)

In [4]:
data = subset(training.data.raw,select=c(2,3,5,6,7,8,10,12))

In [5]:
head(data)

  Survived Pclass Sex    Age SibSp Parch Fare    Embarked
1 0        3      male   22  1     0      7.2500 S
2 1        1      female 38  1     0     71.2833 C
3 1        3      female 26  0     0      7.9250 S
4 1        1      female 35  1     0     53.1000 S
5 0        3      male   35  0     0      8.0500 S
6 0        3      male   NA  0     0      8.4583 Q

If for some variables the information is not available we will delete the whole observation (person) from the dataset.

In [11]:
data = data[!is.na(data$Age),]

In [18]:
head(data)

  Survived Pclass Sex    Age SibSp Parch Fare    Embarked
1 0        3      male   22  1     0      7.2500 S
2 1        1      female 38  1     0     71.2833 C
3 1        3      female 26  0     0      7.9250 S
4 1        1      female 35  1     0     53.1000 S
5 0        3      male   35  0     0      8.0500 S
7 0        1      male   54  0     0     51.8625 S

In [33]:
model <- glm(Survived ~.,family=binomial(link='logit'),data=train)

In [34]:
summary(model)

Call:
glm(formula = Survived ~ ., family = binomial(link = "logit"),
    data = train)

Deviance Residuals:
    Min       1Q   Median       3Q      Max
-2.5158  -0.6801  -0.4074   0.6606   2.3633

Coefficients:
             Estimate Std. Error z value Pr(>|z|)
(Intercept)  5.345257   0.753459   7.094 1.30e-12 ***
Pclass      -1.169753   0.197854  -5.912 3.38e-09 ***
Sexmale     -2.572852   0.252995 -10.170  < 2e-16 ***
Age         -0.037345   0.009522  -3.922 8.78e-05 ***
SibSp       -0.325724   0.145692  -2.236   0.0254 *
Parch        0.030460   0.155554   0.196   0.8448
Fare        -0.002806   0.003214  -0.873   0.3826
EmbarkedQ    0.090597   0.703403   0.129   0.8975
EmbarkedS   -0.289313   0.320178  -0.904   0.3662
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 676.51  on 498  degrees of freedom
Residual deviance: 460.37  on 490  degrees of freedom
  (1 observation deleted due to missingness)
AIC: 478.37

Number of Fisher Scoring iterations: 4

In [35]:
anova(model, test="Chisq")

         Df Deviance     Resid. Df Resid. Dev Pr(>Chi)
NULL     NA           NA 498       676.5148             NA
Pclass    1 5.262872e+01 497       623.8860   4.029530e-13
Sex       1 1.430296e+02 496       480.8565   5.791162e-33
Age       1 1.211770e+01 495       468.7388   4.994545e-04
SibSp     1 6.824300e+00 494       461.9145   8.992578e-03
Parch     1 7.126414e-03 493       461.9073   9.327240e-01
Fare      1 4.489323e-01 492       461.4584   5.028424e-01
Embarked  2 1.088529e+00 490       460.3699   5.802683e-01